* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    margin: 2rem 10rem 0 10rem;
}

article {
    /* border: 1px solid black; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

